family: message/compte
lang: fr
label.sujet: compte
---
{{one:Bonjour, |Salut, |}}{{one}}je n'arrive plus à me connecter à mon espace client.{{label:urgence=moyenne}}{{label:humain=false}}{{|}}comment changer mon adresse e-mail ?{{label:urgence=basse}}{{label:humain=false}}{{|}}quelqu'un s'est connecté à mon compte et a passé une commande, c'est urgent.{{label:urgence=haute}}{{label:humain=true}}{{|}}je veux résilier mon abonnement, merci de me contacter.{{label:urgence=basse}}{{label:humain=true}}{{/one}}{{one:| Merci.| Cordialement, {{pick:prenom}}.}}
