family: message/facturation
lang: fr
label.sujet: facturation
---
{{one:Bonjour, |}}{{one}}j'ai été prélevé deux fois pour la même commande, rendez-moi mon argent.{{label:urgence=haute}}{{label:humain=true}}{{|}}où puis-je télécharger ma facture du mois dernier ?{{label:urgence=basse}}{{label:humain=false}}{{|}}le remboursement de mon {{pick:produit}} retourné n'apparaît pas sur mon compte.{{label:urgence=moyenne}}{{label:humain=false}}{{|}}votre facture comporte une erreur, je souhaite qu'un conseiller me rappelle.{{label:urgence=moyenne}}{{label:humain=true}}{{/one}}{{one:| Merci.| Cordialement, {{pick:prenom}}.}}
