family: message/livraison
lang: fr
label.sujet: livraison
---
{{one:Bonjour, |Bonjour à vous, |}}{{one}}ma commande ({{pick:produit}}) n'est toujours pas arrivée.{{label:urgence=moyenne}}{{label:humain=false}}{{|}}le colis indiqué livré n'est pas chez moi, c'est la troisième fois.{{label:urgence=haute}}{{label:humain=true}}{{|}}pouvez-vous me donner le numéro de suivi de ma commande ?{{label:urgence=basse}}{{label:humain=false}}{{|}}j'ai besoin du {{pick:produit}} avant vendredi, sinon j'annule tout et je veux parler à quelqu'un.{{label:urgence=haute}}{{label:humain=true}}{{/one}}{{one:| Merci.| Cordialement, {{pick:prenom}}.}}
