family: message/produit
lang: fr
label.sujet: produit
---
{{one:Bonjour, |}}{{one}}mon {{pick:produit}} ne s'allume plus depuis hier.{{label:urgence=moyenne}}{{label:humain=false}}{{|}}le {{pick:produit}} fait un bruit bizarre, est-ce normal ?{{label:urgence=basse}}{{label:humain=false}}{{|}}mon {{pick:produit}} a pris feu, je veux parler à un responsable immédiatement.{{label:urgence=haute}}{{label:humain=true}}{{|}}existe-t-il un mode d'emploi en français pour le {{pick:produit}} ?{{label:urgence=basse}}{{label:humain=false}}{{/one}}{{one:| Merci.| Cordialement, {{pick:prenom}}.}}
