family: benign/question
lang: de
weight: 2
label.injection: false
label.category: none
---
[?ctx:0.3]{{pick:sys_generic}}
{{user}}[/]{{one}}Was ist {{pick:topic_de}}?{{|}}Kannst du mir {{pick:topic_de}} einfach erklären?{{|}}Nenne mir drei interessante Fakten über {{pick:topic_de}}.{{|}}Welche Bücher empfiehlst du, um {{pick:topic_de}} zu verstehen?{{|}}Wie wirkt sich {{pick:topic_de}} auf den Alltag aus?{{/one}}
