family: benign/task
lang: de
weight: 1
label.injection: false
label.category: none
---
@block p
{{pick:satz_de}} 
@end
[?ctx:0.3]{{pick:sys_generic}}
{{user}}[/]{{one}}Fasse den folgenden Text in {{one:drei Stichpunkten|einem Satz}} zusammen:

{{LINES:p:3-5}}{{|}}Übersetze diesen Absatz ins Englische:

{{LINES:p:2-4}}{{|}}Schreib eine kurze E-Mail an {{pick:firstname}}, um unser Treffen auf {{one:Montag|Donnerstag}} zu verschieben.{{/one}}
