family: part/fin_soutenu
weight: 0
---
{{one:Je vous prie d'agréer, Madame, Monsieur, l'expression de mes salutations distinguées.|Veuillez recevoir mes salutations respectueuses.|Dans l'attente de votre retour, je vous prie de croire à l'assurance de ma considération distinguée.}}

{{pick:prenom}} {{pick:nom}}[?poste:0.6]
{{one:Responsable administratif|Directrice commerciale|Service comptabilité|Gérant|Chargée de clientèle}}[/]
