family: courriel/annulation_reunion
lang: fr
label.service: Vie d'équipe
label.intention: Annulation
label.emetteur: Collègue
label.delai: Immédiat
---
[?objet:0.7]Objet : {{one:Annulé : point de {{pick:jour}}|Réunion reportée|Pas de réunion demain}}

[/]{{one}}{{include:part/appel_courant}}
{{one:Le point prévu {{pick:jour}} est annulé, je suis malade.|On doit décaler la réunion de cet après-midi, la salle n'est pas dispo.|Je dois annuler notre rendez-vous de demain, désolé.}} {{one:Je vous propose une nouvelle date rapidement.|On refait un créneau la semaine prochaine ?}}

{{include:part/fin_courant}}{{label:registre=Courant}}{{|}}{{include:part/appel_familier}}
{{one:Le point prévu {{pick:jour}} est annulé, je suis malade.|On doit décaler la réunion de cet après-midi, la salle n'est pas dispo.|Je dois annuler notre rendez-vous de demain, désolé.}} {{one:Je vous propose une nouvelle date rapidement.|On refait un créneau la semaine prochaine ?}}

{{include:part/fin_familier}}{{label:registre=Familier}}{{/one}}
