family: courriel/candidature
lang: fr
label.service: Paie et personnel
label.intention: Transmission de document
label.emetteur: Candidat
label.delai: Aucun
---
[?objet:0.7]Objet : {{one:Candidature spontanée|Candidature au poste de {{one:comptable|technicien|assistante de direction|chef de projet}}}}

[/]{{one}}{{include:part/appel_soutenu}}
{{one:Je me permets de vous adresser ma candidature pour le poste de {{one:comptable|technicien de maintenance|assistante de direction|chef de projet}} publié sur votre site.|Actuellement en recherche d'emploi à {{pick:ville}}, je vous propose ma candidature spontanée.}} {{one:Vous trouverez ci-joint mon CV et ma lettre de motivation.|Je reste à votre disposition pour un entretien.}}

{{include:part/fin_soutenu}}{{label:registre=Soutenu}}{{/one}}
