family: courriel/conges
lang: fr
label.service: Paie et personnel
label.intention: Demande d'accord
label.emetteur: Collègue
label.delai: Sous quelques jours
---
[?objet:0.7]Objet : {{one:Demande de congés|Congés {{pick:mois}}|Pose de RTT}}

[/]{{one}}{{include:part/appel_courant}}
{{one:Je souhaiterais poser mes congés du {{int:1-14}} au {{int:15-28}} {{pick:mois}}.|Est-ce que je peux prendre {{int:1-3}} jours de RTT la semaine prochaine ?|Je voudrais poser le {{pick:jour}} {{int:1-28}} {{pick:mois}} en congé.}} {{one:Peux-tu valider dans l'outil ?|Dis-moi si ça pose un problème pour le planning.|Merci de me confirmer ton accord.}}

{{include:part/fin_courant}}{{label:registre=Courant}}{{|}}{{include:part/appel_familier}}
{{one:Je souhaiterais poser mes congés du {{int:1-14}} au {{int:15-28}} {{pick:mois}}.|Est-ce que je peux prendre {{int:1-3}} jours de RTT la semaine prochaine ?|Je voudrais poser le {{pick:jour}} {{int:1-28}} {{pick:mois}} en congé.}} {{one:Peux-tu valider dans l'outil ?|Dis-moi si ça pose un problème pour le planning.|Merci de me confirmer ton accord.}}

{{include:part/fin_familier}}{{label:registre=Familier}}{{/one}}
