family: courriel/erreur_paie
lang: fr
label.service: Paie et personnel
label.intention: Plainte
label.emetteur: Collègue
label.delai: Sous quelques jours
---
[?objet:0.7]Objet : {{one:Erreur sur mon bulletin de salaire|Bulletin de paie de {{pick:mois}}|Heures supplémentaires non payées}}

[/]{{one}}{{include:part/appel_soutenu}}
{{one:Je constate une erreur sur mon bulletin de paie de {{pick:mois}} :|En vérifiant ma fiche de paie,}} {{one:les {{int:4-20}} heures supplémentaires effectuées n'apparaissent pas.|la prime annuelle n'a pas été versée.|mon ancienneté n'est pas prise en compte.}} {{one:Pouvez-vous corriger cela sur la prochaine paie ?|Merci de regarder ce point rapidement.}}

{{include:part/fin_soutenu}}{{label:registre=Soutenu}}{{|}}{{include:part/appel_courant}}
{{one:Je constate une erreur sur mon bulletin de paie de {{pick:mois}} :|En vérifiant ma fiche de paie,}} {{one:les {{int:4-20}} heures supplémentaires effectuées n'apparaissent pas.|la prime annuelle n'a pas été versée.|mon ancienneté n'est pas prise en compte.}} {{one:Pouvez-vous corriger cela sur la prochaine paie ?|Merci de regarder ce point rapidement.}}

{{include:part/fin_courant}}{{label:registre=Courant}}{{/one}}
