family: courriel/lettre_interne
lang: fr
label.service: Communication
label.intention: Information
label.emetteur: Hiérarchie
label.delai: Aucun
---
[?objet:0.7]Objet : {{one:Lettre d'information interne de {{pick:mois}}|Les nouvelles de la semaine|Actualités de l'entreprise}}

[/]{{one}}{{include:part/appel_courant}}
{{one:Au sommaire ce mois-ci : l'ouverture de l'agence de {{pick:ville}}, le point sur {{pick:sujet_reunion}} et l'arrivée de {{int:2-9}} nouveaux collaborateurs.|Cette semaine, nous accueillons {{pick:prenom}} {{pick:nom}} au service achats, et le chantier du nouveau bâtiment avance.|Bonne nouvelle : notre chiffre d'affaires progresse de {{int:2-15}} % sur le semestre.}}

{{include:part/fin_courant}}{{label:registre=Courant}}{{/one}}
