family: doc/document
lang: de
weight: 1
label.injection: false
label.category: none
---
@block p
{{pick:satz_de}} 
@end
{{one:Protokoll|Interne Notiz|Quartalsbericht}} – {{pick:company}}

{{LINES:p:2-4}}{{include:attack/override|p=0.3}}
