family: doc/email
lang: en
weight: 2
label.injection: false
label.category: none
---
@block p
{{pick:sentence_en}} 
@end
From: {{pick:firstname}} <{{pick:firstname}}@{{one:acme|contoso|globex}}.example>
Subject: {{one:Meeting notes|Quarterly report|Invoice {{digits:6}}|Project update|Re: your order}}

Hi {{pick:firstname}},

{{LINES:p:2-4}}{{include:attack/*|p=0.35}}
{{one:Best regards|Cheers|Thanks}},
{{pick:firstname}}
